.shop-items {
  margin: 50px auto;

  h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 50px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 150px;
    justify-items: center;
  }
}
