.item {
  position: relative;
  width: 200px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .bg-img {
      transform: scale(1.2);
      transition: transform 5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  .poster {
    position: absolute;
    height: 200px;
    left: 25px;
    top: 27px;
    border: 5px solid white;
    z-index: 5;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .bg-img {
    height: 208px;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-size: cover;
    transition: 1s;

    .overlay {
      height: 100%;
      width: 100%;
    }

    .pink {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(239, 71, 111, 0.7)
      );
    }
    .yellow {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 209, 102, 0.7)
      );
    }
    .green {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(6, 214, 160, 0.7)
      );
    }
    .teal {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(24, 138, 178, 0.7)
      );
    }
    .blue {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(7, 59, 76, 0.7)
      );
    }
  }
  .price {
    z-index: 10;
    top: 160px;
    right: 0;
    position: absolute;
    padding: 5px 10px;
    color: white;
    background: rgb(134, 12, 12);
    background: linear-gradient(
      45deg,
      rgba(134, 12, 12, 1) 0%,
      rgba(255, 64, 64, 1) 100%
    );
  }

  .content {
    background-color: white;
    position: relative;
    z-index: 3;
    padding: 20px 26px;
    text-align: center;

    h3 {
      font-weight: 600;
      color: rgb(15, 15, 15);
    }
  }
}
