.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 25px;
  }

  .item-count {
    color: #1c76c0;
    user-select: none;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    bottom: 12px;
  }
}
