.header {
  height: 70px;
  width: 99%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-left: 7px;
    border-left: 4px solid rgba($color: #1c76c0, $alpha: 1);
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      text-decoration: none;
      color: white;
      transition: 200ms;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid #1c76c0;
      }
    }
  }
}
