.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid rgb(61, 61, 61);
  padding: 20px 0;
  font-size: 18px;
  align-items: center;
  text-align: center;

  .image-container {
    width: 23%;

    img {
      border: 1px solid white;
      width: 60%;
      height: 60%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;
    justify-content: center;
    .arrow {
      user-select: none;
      color: #1c76c0;
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }
  .remove-button {
    padding-left: 20px;
    color: rgb(214, 49, 49);
    cursor: pointer;
  }
}
