.menu-item {
  min-width: 30%;
  height: 280px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
  margin: 0 7.5px 15px;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .bg-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

    .overlay {
      height: 100%;
      width: 100%;
    }

    .pink {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(239, 71, 111, 0.7)
      );
    }
    .yellow {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 209, 102, 0.7)
      );
    }
    .green {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(6, 214, 160, 0.7)
      );
    }
    .teal {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(24, 138, 178, 0.7)
      );
    }
    .blue {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(7, 59, 76, 0.7)
      );
    }
  }

  .content {
    height: 120px;
    padding: 0 60px;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
    background-color: white;
    position: absolute;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: black;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}

.large {
  height: 450px;
}
